<h1>AR Field Techs - Phoenix (Phase 10)</h1>
<% @field_techs.each do |tech| %>
  <div>
    <%= tech.email %> @ GPS: <%= tech.gps_lat %}, <%= tech.gps_lng %>
    AR Token: <%= tech.ar_glasses_token[0..8] %>...
  </div>
<% end %>
